@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");


/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

/* Box model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Type */

html {
	font-size: 18pt;
}

@media screen and (max-width: 1680px) {

	html {
		font-size: 14pt;
	}

}

@media screen and (max-width: 1280px) {

	html {
		font-size: 12pt;
	}

}

@media screen and (max-width: 736px) {

	html {
		font-size: 11pt;
	}

}

@media screen and (max-width: 360px) {

	html {
		font-size: 10pt;
	}

}

body {
	background-color: #ffffff;
	color: #000000;
}

body, input, select, textarea {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.65;
}

a {
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	text-decoration: underline;
}

	a:hover {
		text-decoration: none;
	}

strong, b {
	font-weight: 400;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2rem 0;
}

p.major {
	font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	line-height: 1.375;
	letter-spacing: -0.05em;
	margin: 0 0 1rem 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 3.5rem;
	line-height: 1.2;
}

h2 {
	font-size: 2.25rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.1rem;
}

h5 {
	font-size: 0.9rem;
}

h6 {
	font-size: 0.7rem;
}

sub {
	font-size: 0.8rem;
	position: relative;
	top: 0.5rem;
}

sup {
	font-size: 0.8rem;
	position: relative;
	top: -0.5rem;
}

blockquote {
	border-left: solid 4px;
	font-style: italic;
	margin: 0 0 2rem 0;
	padding: 0.5rem 0 0.5rem 2rem;
}

code {
	border-radius: 4px;
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0.25rem;
	padding: 0.25rem 0.325rem;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0 2rem 0;
}

pre code {
	display: block;
	line-height: 1.5;
	padding: 0.75rem 1rem;
	overflow-x: auto;
}

hr {
	border: 0;
	border-bottom: solid 1px;
	margin: 2.5rem 0;
}

hr.major {
	margin: 3.5rem 0;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

@media screen and (max-width: 736px) {

	p.major {
		font-size: 1.1rem;
	}

	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	h4 {
		font-size: 1rem;
	}

}

input, select, textarea {
	color: #000000;
}

a {
	color: #000000;
}

	a:hover {
		color: #47D3E5;
	}

strong, b {
	color: #000000;
}

h1, h2, h3, h4, h5, h6 {
	color: #000000;
}

blockquote {
	border-left-color: rgba(0, 0, 0, 0.2);
}

code {
	background: rgba(0, 0, 0, 0.05);
	border-color: rgba(0, 0, 0, 0.2);
}

hr {
	border-bottom-color: rgba(0, 0, 0, 0.2);
}

/* Icon */

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
	text-align: center;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

.icon.style2:before {
	border-radius: 2.75em;
	display: inline-block;
	height: 2.75em;
	line-height: 2.75em;
	width: 2.75em;

	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.icon.major {
	display: block;
	margin: 0 0 1rem 0;
}

.icon.major:before {
	font-size: 1.25rem;
}

a.icon.style2:before {
	-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

a.icon.style2:hover:before {
	box-shadow: inset 0 0 0 1px #8048f9;
	color: #8048f9;
}

a.icon.style2:hover:before {
	box-shadow: inset 0 0 0 1px #8048f9;
	color: #8048f9;
}

/* List */

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 0.75rem 0 0;
}

ul.icons li:last-child {
	padding-right: 0;
}


.image {
	border: 0;
	border-radius: 4px;
	display: inline-block;
	position: relative;
}

.image img {
	display: block;
	border-radius: 4px;
}

/* Banner (style1) */

.banner {
	-moz-align-items: stretch;	
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-moz-justify-content: -moz-flex-end;
	-webkit-justify-content: -webkit-flex-end;
	-ms-justify-content: -ms-flex-end;
	justify-content: flex-end;
	position: relative;
	text-align: left;
	overflow-x: hidden;
}

.banner .content {
	padding: 7rem 7rem 5rem 7rem ;
	-moz-align-self: center;
	-webkit-align-self: center;
	-ms-align-self: center;
	align-self: center;
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	width: 50%;
	max-width: 48rem;
	margin: 0 auto;
}

.banner .image {
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	border-radius: 0;
	width: 50%;
}

.banner .image img {
	-moz-object-fit: cover;
	-webkit-object-fit: cover;
	-ms-object-fit: cover;
	object-fit: cover;
	-moz-object-position: center;
	-webkit-object-position: center;
	-ms-object-position: center;
	object-position: center;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0;
}

.banner {
	min-height: 100vh;
}

.banner .image img {
	-moz-object-position: right;
	-webkit-object-position: right;
	-ms-object-position: right;
	object-position: right;
}

/* Wrapper */

.wrapper > .inner {
	padding: 7rem 3.5rem 5rem 3.5rem;
	margin: 0 auto;
	max-width: 100%;
	width: 64rem;
}

/***************************************/

@media screen and (max-width: 1680px) {
	
	/* Type */

	html {
		font-size: 19px;
	}

	/* Banner */

	.banner .content {
		padding: 5rem 5rem 3rem 5rem;
	}

	/* Wrapper */

	.wrapper > .inner {
		padding: 5rem 2.5rem 3rem 2.5rem;
	}

}

@media screen and (max-width: 1280px) {
	
	/* Type */

	html {
		font-size: 16px;
	}

	/* Banner */

	.banner .content {
		padding: 4rem 4rem 2rem 4rem;
	}

	/* Wrapper */

	.wrapper > .inner {
		padding: 4rem 4rem 2rem 4rem;
	}

}

@media screen and (max-width: 980px) {

	/* Banner */

	.banner .content {
		padding: 3.75rem 3rem 1.75rem 3rem;
	}

	/* Wrapper */

	.wrapper > .inner {
		padding: 4.5rem 3rem 2.5rem 3rem;
	}

}

@media screen and (max-width: 736px) {
	
	/* Type */

	html {
		font-size: 15px;
	}

	p.major {
		font-size: 1.1rem;
	}
	
	h1 {
		font-size: 2.5rem;
	}

	/* Banner */

	.banner .content {
		padding: 2.5rem 2rem 0.5rem 2rem;
	}

	/* Wrapper */

	.wrapper > .inner {
		padding: 3rem 2rem 1rem 2rem;
	}

}

@media screen and (max-width: 360px) {
	
	/* Type */

	html {
		font-size: 13px;
	}

}

@media screen and (orientation: portrait) {
	
	.banner {
		-moz-flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		text-align: center;
	}

	.banner .content {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
		flex-direction: column;
		flex-direction: column;
		flex-direction: column;
		justify-content: center;
		justify-content: center;
		justify-content: center;
		justify-content: center;
		width: 100%;
		max-width: 100%;
	}

	.banner .image {
		width: 100%;
		max-width: 100%;
		height: 45vh;
	}

	.banner .content {
		min-height: 50vh;
	}

	.banner .image {
		height: 50vh;
	}

}

/****************************************/

.main {
    position: relative;
    overflow: hidden;
    z-index: 1
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px
}

.container:after {
    content: "";
    display: table;
    clear: both
}

@media (min-width: 576px) {
    .container {
        padding-right:15px;
        padding-left: 15px
    }
}

@media (min-width: 768px) {
    .container {
        padding-right:15px;
        padding-left: 15px
    }
}

@media (min-width: 992px) {
    .container {
        padding-right:15px;
        padding-left: 15px
    }
}

@media (min-width: 1200px) {
    .container {
        padding-right:15px;
        padding-left: 15px
    }
}

@media (min-width: 576px) {
    .container {
        width:540px;
        max-width: 100%
    }
}

@media (min-width: 768px) {
    .container {
        width:720px;
        max-width: 100%
    }
}

@media (min-width: 992px) {
    .container {
        width:960px;
        max-width: 100%
    }
}

@media (min-width: 1200px) {
    .container {
        width:1140px;
        max-width: 100%
    }
}

.nk-portfolio-item {
    position: relative;
    overflow: hidden
}

.nk-portfolio-item-image {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 80.34%;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden
}

.nk-portfolio-item-image div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: 50% 50%;
    background-size: cover;
}

.nk-portfolio-item-image {
    padding-bottom: 100%
}

.nk-portfolio-item-link {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1
}

.portfolio-item-title {
    color: inherit;
    margin-bottom: 1.2rem
}

.portfolio-item-category {
    font-size: .95rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500
}

.nk-portfolio-item-info{
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    background-color: rgba(0,0,0,.85);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    padding: 50px;
    transition: opacity .5s,background-color .5s
}

.nk-portfolio-item-info>div {
    width: 100%
}

.nk-portfolio-item-info-center {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.nk-portfolio-item.nk-portfolio-item-info-style-1:hover .nk-portfolio-item-info{
    opacity: 1
}

.nk-portfolio-item .portfolio-item-title {
    transform: translateY(10px);
    opacity: 0;
    transition: transform .4s .2s,opacity .4s .2s
}

.nk-portfolio-item .portfolio-item-category {
    transform: translateY(10px);
    opacity: 0;
    transition: transform .4s .3s,opacity .4s .3s
}

.nk-portfolio-item:hover .portfolio-item-category,
.nk-portfolio-item:hover .portfolio-item-title {
    transform: translateY(0);
    opacity: 1
}

.nk-isotope:after {
    content: "";
    display: table;
    clear: both
}

.nk-isotope-item {
    display: block;
    width: 25%;
    float: left
}

@media (max-width: 1199px) {
    .nk-isotope.nk-isotope-3-cols .nk-isotope-item,.nk-isotope .nk-isotope-item {
        width:33.3334%
    }

    .nk-isotope.nk-isotope-3-cols .nk-isotope-item.nk-isotope-item-x2,
    .nk-isotope.nk-isotope-3-cols .nk-isotope-item.nk-isotope-item-x3,
    .nk-isotope .nk-isotope-item.nk-isotope-item-x2,
    .nk-isotope .nk-isotope-item.nk-isotope-item-x3 {
        width: 100%
    }
}

@media (max-width: 991px) {
    .nk-isotope.nk-isotope-2-cols .nk-isotope-item,
    .nk-isotope.nk-isotope-3-cols .nk-isotope-item,
    .nk-isotope .nk-isotope-item {
        width:50%
    }

    .nk-isotope.nk-isotope-2-cols .nk-isotope-item.nk-isotope-item-x2,
    .nk-isotope.nk-isotope-2-cols .nk-isotope-item.nk-isotope-item-x3,
    .nk-isotope.nk-isotope-3-cols .nk-isotope-item.nk-isotope-item-x2,
    .nk-isotope.nk-isotope-3-cols .nk-isotope-item.nk-isotope-item-x3,
    .nk-isotope .nk-isotope-item.nk-isotope-item-x2,
    .nk-isotope .nk-isotope-item.nk-isotope-item-x3 {
        width: 100%
    }
}

@media (max-width: 767px) {
    .nk-isotope.nk-isotope-2-cols .nk-isotope-item,
    .nk-isotope.nk-isotope-3-cols .nk-isotope-item,
    .nk-isotope .nk-isotope-item,
    .nk-isotope .nk-isotope-item.nk-isotope-item-x2,
    .nk-isotope .nk-isotope-item.nk-isotope-item-x3 {
        width:100%
    }
}

.nk-isotope.nk-isotope-3-cols .nk-isotope-item {
    width: 33.332%
}

.text-xs-center {
    text-align: center!important
}

/*.divided {
	margin-bottom: 5rem;
}*/


@media (max-width: 1199px) {
    .nk-isotope.nk-isotope-3-cols .nk-isotope-item,
    .nk-isotope .nk-isotope-item {
        width:33.3334%
    }

    .nk-isotope.nk-isotope-3-cols .nk-isotope-item.nk-isotope-item-x2,
    .nk-isotope.nk-isotope-3-cols .nk-isotope-item.nk-isotope-item-x3,
    .nk-isotope .nk-isotope-item.nk-isotope-item-x2,
    .nk-isotope .nk-isotope-item.nk-isotope-item-x3 {
        width: 100%
    }
}

@media (max-width: 991px) {
    .nk-isotope.nk-isotope-2-cols .nk-isotope-item,
    .nk-isotope.nk-isotope-3-cols .nk-isotope-item,
    .nk-isotope .nk-isotope-item {
        width:50%
    }

    .nk-isotope.nk-isotope-2-cols .nk-isotope-item.nk-isotope-item-x2,
    .nk-isotope.nk-isotope-2-cols .nk-isotope-item.nk-isotope-item-x3,
    .nk-isotope.nk-isotope-3-cols .nk-isotope-item.nk-isotope-item-x2,
    .nk-isotope.nk-isotope-3-cols .nk-isotope-item.nk-isotope-item-x3,
    .nk-isotope .nk-isotope-item.nk-isotope-item-x2,
    .nk-isotope .nk-isotope-item.nk-isotope-item-x3 {
        width: 100%
    }
}

@media (max-width: 767px) {
    .nk-isotope.nk-isotope-2-cols .nk-isotope-item,
    .nk-isotope.nk-isotope-3-cols .nk-isotope-item,
    .nk-isotope .nk-isotope-item,
    .nk-isotope .nk-isotope-item.nk-isotope-item-x2,
    .nk-isotope .nk-isotope-item.nk-isotope-item-x3 {
        width:100%
    }
}

@media (max-width: 991px) {
    .nk-pagination .container .nk-pagination-next,
    .nk-pagination .container .nk-pagination-prev,
    .nk-pagination .nk-pagination-next,
    .nk-pagination .nk-pagination-prev {
        font-size:0;
        min-width: 60px
    }

    .nk-pagination .container .nk-pagination-next>span,
    .nk-pagination .container .nk-pagination-prev>span,
    .nk-pagination .nk-pagination-next>span,
    .nk-pagination .nk-pagination-prev>span {
        font-size: 1.6rem
    }
}

.nk-footer {
    position: relative;
    background-color: #ebebeb;
    overflow: hidden;
    z-index: 1
}

.nk-footer .nk-footer-cont {
    padding-top: 44px;
    padding-bottom: 25px
}


.nk-footer .nk-footer-social {
    padding-bottom: 12px;
    color: #171717
}

.nk-footer .nk-footer-social>ul {
    padding: 0;
    margin: 0
}

.nk-footer .nk-footer-social>ul li {
    display: inline-block
}

.nk-footer .nk-footer-social>ul li>a {
    display: block;
    font-size: 1.13rem;
    color: inherit;
    padding: 3px 6px;
    opacity: .4;
    transition: opacity .5s
}

.nk-footer .nk-footer-social>ul li>a.hover,
.nk-footer .nk-footer-social>ul li>a:hover {
    opacity: 1
}

.nk-footer .nk-footer-social.text-white>ul li>a {
    opacity: .9
}

.nk-footer .nk-footer-social.text-white>ul li>a.hover,
.nk-footer .nk-footer-social.text-white>ul li>a:hover {
    opacity: .5
}

.nk-footer .nk-footer-text {
    font-size: .85rem;
    letter-spacing: .04em;
}


.nk-footer .icons {
	margin-bottom: 1.5rem;
}





