@media screen and (max-width: 1680px) {
	
	/* Type */

	html {
		font-size: 19px;
	}

	/* Banner */

	.banner__content {
		padding: 5rem 5rem 3rem 5rem;
	}

	/* Wrapper */

	.wrapper > .inner {
		padding: 5rem 2.5rem 3rem 2.5rem;
	}

}

@media screen and (max-width: 1280px) {
	
	/* Type */

	html {
		font-size: 16px;
	}

	/* Banner */

	.banner__content {
		padding: 4rem 4rem 2rem 4rem;
	}

	/* Wrapper */

	.wrapper > .inner {
		padding: 4rem 4rem 2rem 4rem;
	}

}

@media screen and (max-width: 980px) {

	/* Banner */

	.banner__content {
		padding: 3.75rem 3rem 1.75rem 3rem;
	}

	/* Wrapper */

	.wrapper > .inner {
		padding: 4.5rem 3rem 2.5rem 3rem;
	}

}

@media screen and (max-width: 736px) {
	
	/* Type */

	html {
		font-size: 15px;
	}

	p.desc {
		font-size: 1.1rem;
	}
	
	h1 {
		font-size: 2.5rem;
	}

	/* Banner */

	.banner__content {
		padding: 2.5rem 2rem 0.5rem 2rem;
	}

	/* Wrapper */

	.wrapper > .inner {
		padding: 3rem 2rem 1rem 2rem;
	}

}

@media screen and (max-width: 360px) {
	
	/* Type */

	html {
		font-size: 13px;
	}

}

@media screen and (orientation: portrait) {
	
	.banner {
		-moz-flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		text-align: center;
	}

	.banner__content {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
		flex-direction: column;
		flex-direction: column;
		flex-direction: column;
		justify-content: center;
		justify-content: center;
		justify-content: center;
		justify-content: center;
		width: 100%;
		max-width: 100%;
	}

	.banner__image {
		width: 100%;
		max-width: 100%;
		height: 45vh;
	}

	.banner__content {
		min-height: 50vh;
	}

	.banner__image {
		height: 50vh;
	}

}